[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
advancedhtmlparser = "*"
jsonschema = "*"
flask = "*"
chardet = "*"

[requires]
python_version = "3.8"

[dev-packages]
